<div class="jumbotron">
  <div class="container-fluid">
      <br>
      <h1>Connecting and Supporting</h1> 
      <h1>Alumni of UELIP</h1>

  </div>
</div>


<div class="container">
  <div class="main-container">
    <h1>UELIP Alumni Database</h1>
    <table class="table table-hover table-striped" >
      <thead>
        <tr>
          <th><%= sortable "first_name", "First Name" %></th>
          <th><%= sortable "last_name", "Last Name" %></th>
          <th><%= sortable "email", "Email" %></th>
          <th><%= sortable "phone", "Phone" %></th>
          <th><%= sortable "term", "Term" %></th>
          <th><%= sortable "school", "School" %></th>
          <th><%= sortable "current_city", "Current City" %></th>
          <th><%= sortable "state", "State" %></th>
          <th><%= sortable "current_role", "Current Role" %></th>
          <th><%= sortable "current_organization", "Current Organization" %></th>
          <th><%= sortable "permission_to_share_contactinfo", "Permission to Share Contact Info" %></th>
          <th><%= sortable "do_not_contact", "Do Not Contact" %></th>
          <th><%= sortable "last_updated", "Last Updated" %></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @alumnus.each do |alumnu| %>
          <tr>
            <td><%= alumnu.first_name %></td>
            <td><%= alumnu.last_name %></td>
            <td><%= alumnu.email %></td>
            <td><%= alumnu.phone %></td>
            <td><%= alumnu.term %></td>
            <td><%= alumnu.school %></td>
            <td><%= alumnu.current_city %></td>
            <td><%= alumnu.state %></td>
            <td><%= alumnu.current_role %></td>
            <td><%= alumnu.current_organization %></td>
            <td><%= alumnu.permission_to_share_contactinfo %></td>
            <td><%= alumnu.do_not_contact %></td>
            <td><%= alumnu.last_updated %></td>
            <td><%= link_to 'Show', alumnu, class: "btn btn-link" %></td>
            <td><%= link_to 'Edit', edit_alumnu_path(alumnu), class: "btn btn-link" %></td>
            <td><%= link_to 'Delete', alumnu, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Alumnus', new_alumnu_path %><br>
    <br>
  </div>
</div>

<br>
<br>
<br>
